.containerCommentPublished {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F0EAEA;
    padding: 0.4rem 1rem;
    border-radius: 9px;
}
.containerCommentPublished p {
    width: 25rem;
    text-align: justify;
    font-size: 10pt;
}

.icon {
    cursor: pointer;
}